<h1>Todo Status Changed</h1>
<p>
  The status of your todo item has been changed to incomplete.
</p>
<p>
  <strong>Name:</strong><br>
  <strong>Subject:</strong> <br>
  <strong>Due Date:</strong> 
</p>